#inputBox {
    border: solid black 2px;
    position: relative;
    margin: auto;
    width: 300px;
    height: 100px;
}
#inputText {
    border: solid black .5px;
    position: relative;
    text-align: right;
    top: 0px;
    right: 0px;
}
#answerText {

}
#calculatorContainer {
    position: relative;
    margin: auto;
    border: solid black .5px;
}
#calculatorTable{
    position: relative;
    text-align: center;
    margin: auto;
    border: solid black 2px;
    border-top: none;
    width: 304px;
    height: 300px;
}

#button1 {
    border: solid black 1px;
}

#button2 {
    border: solid black 1px;
    width: 95px;
}

#button3 {
    border: solid black 1px;
}

#button4 {
    border: solid black 1px;
}

#button5 {
    border: solid black 1px;
}

#button6 {
    border: solid black 1px;
}

#button7 {
    border: solid black 1px;
}

#button8 {
    border: solid black 1px;
}

#button9 {
    border: solid black 1px;
}

#button0 {
    border: solid black 1px;
}
/*+ button*/
#button10 {
    border: solid black 1px;
}
/*- button*/
#button11 {
    border: solid black 1px;
}
/* / button */
#button12 {
    border: solid black 1px;
}
/*Clear button*/
#button13 {
    border: solid black 1px;
}
/* * button*/
#button14 {
    border: solid black 1px;
}